@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root{
    --p: rgb(19, 99, 247);
    --w: white;
    --b: black;
}

header{
    height: 9rem;
    color: var(--w);
}

header div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/banner.jpeg);
    height: 6.5rem;
    text-shadow: 0.2rem 0rem 0rem var(--b);
}

header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    background-color: var(--p);
    height: 2rem;
    font-size: 1.5rem;
}

header nav ul li:hover{
    background-color: aqua;
}

.text{
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 10.5rem);
    text-align: justify;
}

.text div{
    width: 85%;
    padding: 5%;
}

.text div ol{
    list-style-type: upper-roman;
}

.text div ul{
    list-style-type: square;
}

footer{
    height: 2rem;
    display: flex;
    justify-content: start;
    align-items: center; 
    background-color: var(--p);  
    color: var(--s); 
    border-bottom: 0.5rem solid var(--p);
    border-radius: 5%;
}

footer p{
    padding-left: 1rem;
}